NAME=database

HOST=local.solarbuildingenvelopes.com
HTTP_PORT=5050
HTTPS_PORT=5051

METABASE_HOST=local.buildingenvelopedata.org
METABASE_HTTPS_PORT=4041

DATABASE_ID=8a27aa0d-6026-4124-b185-4efd5cead953
OPERATOR_ID=82b9f95c-3261-463a-90fe-0e9da707af17

OPEN_ID_CONNECT_CLIENT_SECRET=secret
VERIFICATION_CODE=secret

CERTIFICATE_AUTHORITY_HOST=ca.org
CERTIFICATE_AUTHORITY_BASE_FILE_NAME=ca
CERTIFICATE_AUTHORITY_PASSWORD=ca-password
CERTIFICATE_AUTHORITY_SUBJECT=/C=DE/ST=BW/L=Freiburg/O=Fraunhofer Institute for Solar Energy

GNUPG_SECRET_SIGNING_KEY_FILE_NAME=private.gpg
GNUPG_SECRET_SIGNING_KEY_PASSPHRASE=passphrase
GNUPG_SECRET_SIGNING_KEY_FINGERPRINT=

SSL_CERTIFICATE_BASE_FILE_NAME=database
SSL_CERTIFICATE_PASSWORD=password
SSL_CERTIFICATE_SUBJECT=/C=DE/ST=BW/L=Freiburg/O=Fraunhofer Institute for Solar Energy

JSON_WEB_TOKEN_ENCRYPTION_CERTIFICATE_PASSWORD=encryption-password
JSON_WEB_TOKEN_SIGNING_CERTIFICATE_PASSWORD=signing-password

SMTP_HOST=email
SMTP_PORT=25
