NAME=database
ENVIRONMENT=development

HOST=local.solarbuildingenvelopes.com
SUBDOMAIN=www
HTTP_PORT=8500
HTTPS_PORT=7501

METABASE_HOST=www.local.buildingenvelopedata.org
METABASE_HTTPS_PORT=7001

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE_NAME=xbase

DATABASE_ID=8a27aa0d-6026-4124-b185-4efd5cead953
OPERATOR_ID=82b9f95c-3261-463a-90fe-0e9da707af17

OPEN_ID_CONNECT_CLIENT_ID=testlab-solar-facades
OPEN_ID_CONNECT_CLIENT_SECRET=secret

OPEN_TELEMETRY_HOST=host.docker.internal
OPEN_TELEMETRY_GRPC_PORT=4517

VERIFICATION_CODE=secret

GNUPG_SECRET_SIGNING_KEY_FINGERPRINT=
GNUPG_SECRET_SIGNING_KEY_PASSPHRASE=passphrase

JSON_WEB_TOKEN_ENCRYPTION_CERTIFICATE_PASSWORD=encryption-password
JSON_WEB_TOKEN_SIGNING_CERTIFICATE_PASSWORD=signing-password
