NAME=database_staging

HOST=staging.solarbuildingenvelopes.com
HTTP_PORT=9000

METABASE_HOST=staging.buildingenvelopedata.org

DATABASE_ID=8a27aa0d-6026-4124-b185-4efd5cead953
OPERATOR_ID=82b9f95c-3261-463a-90fe-0e9da707af17

OPEN_ID_CONNECT_CLIENT_ID=testlab-solar-facades
OPEN_ID_CONNECT_CLIENT_SECRET=

OPEN_TELEMETRY_HOST=host.docker.internal
OPEN_TELEMETRY_GRPC_PORT=4317

VERIFICATION_CODE=

GNUPG_SECRET_SIGNING_KEY_FINGERPRINT=
GNUPG_SECRET_SIGNING_KEY_PASSPHRASE=

JSON_WEB_TOKEN_ENCRYPTION_CERTIFICATE_PASSWORD=
JSON_WEB_TOKEN_SIGNING_CERTIFICATE_PASSWORD=

SMTP_HOST=email
SMTP_PORT=25
RELAY_SMTP_HOST=mail-mtaKA26.fraunhofer.de
RELAY_SMTP_PORT=25
RELAY_ALLOWED_EMAILS=
